body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3 {
  text-align: center;
}

.upload-section,
.comparison-section {
  margin-bottom: 20px;
}

.upload-container {
  margin-bottom: 10px;
}

.file-label {
  font-weight: bold;
}

.file-input {
  display: block;
  width: calc(100% - 20px);
  padding: 5px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

#differences {
  margin-top: 20px;
  white-space: pre-wrap;
}

@media screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }
}

input::file-selector-button {
  color: dodgerblue;
  padding: 0.5em;
  border: thin solid white;
  border-radius: 3px;
}

input::file-selector-button:hover {
  border: thin solid black;
  border-radius: 3px;
}